
body {
background-image:url('sky.jpg');
background-position-x: 0%;
}
.navbar{
    top: 0;
    right: 0;
    position: fixed; 
    width:100%;
    height: 150px;
    clear: both;
    background-color: #333;
}
  .navbar a {
    display:inline-block;
    vertical-align: top;
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 80px ;
  height: 110px;
  font-family: Times, serif;
  }
  .navbar a:hover {
    background-color: #111;
  }
  
/*logo*/
.logo img{
    display: inline-flex;
    vertical-align: top;
    margin-right: 20px;
    margin-top:15px ;
}
/*it is the card photo*/
div.polaroid {
    width: 20%;
    height: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }
  
  div .container {
    text-align: center;
    padding: 10px 70px;
  }
  figure p {
    font-size: 14px;
  }
  
  /*my contact*/
  ul  {
    list-style-type: none;
  }
  .center {
    position: absolute;
    top: 20%;
    left: 83%;
    font-size: 18px;
    color:white;
    line-height: 1.6em;
    }
  #imgblack { 
    position: relative; 
    margin-left: 85.5%;
    margin-bottom: 0%;
    width: 15%;
    height: 15%;
    opacity:0.8;
  }
  #welcome-section {
      margin-top: 200px;
      font-family:Times, serif;
  }
  h1 {
      font-size: 60px;
  }
  p {
    font-size: 24px;
    line-height: 1.6em;  
  }
  table, td, th {
    border: 1px solid black;
  }
  table a {
    font-family:Times, serif;
    font-size: 18px;
    color: #4d0000;
    text-decoration: none;

  }
  
  table {
    border-collapse: collapse;
    width: 45%;
  }
  
  th {
    height: 100px;
  }
  td{
    height: 50px;   
  }