:root {
    --gray: #333;
    --white: #ffffff;}
body {
background-image:url('pixele.jpg');
background-repeat:no-repeat;
background-size:cover;
padding-top: 150px;
font-family:Times, serif;
margin-left: 20px;
}
.navbar{
    top: 0;
    right: 0;
    position: fixed; 
    width:99.3vw;
    height: 13vh;
    clear: both;
    background-color: var(--gray);
}
  .navbar a {
    display:inline-block;
    vertical-align: top;
  color:var(--white);
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  margin-right: 50px;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 9vh ;
  font-family: Times, serif;
  }
  .navbar a:hover {
    background-color: #111;
  }
  
/*logo*/
.logo img{
    display: inline-flex;
    vertical-align: top;
    margin-right: 40px;
    margin-top:15px ;
}
/*it is the card photo*/
div.polaroid {
    width: 20%;
    height: 20%;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }
  
  div .container {
    text-align: center;
    padding: 10px 70px;
  }
  figure p {
    font-size: 14px;
  }
  
  /*my contact*/
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:#d98cb3;
  }
  
  .flex-container > div {
    background-color: #ffcce6;
    width: 50vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  #contact {
      margin-left: 40%;
      color:#cc6699;
      font-size: 40px;
  }
  
  h1 {
      font-size: 60px;
  }
  p {
    font-size: 24px;
    line-height: 1.6em;  
  }
  table, td, th {
    border: 1px solid black;
  }
  table a {
    font-size: 18px;
    color: #4d0000;
    text-decoration: none;
    
  }
  table a:hover {
color:var(--white);
  }
  table a:active {
    color:hotpink;
  }
  table {
    border-collapse: collapse;
    width: 45%;
  }
  th {
    height: 100px;
  }
  td{
    height: 50px;   
  }
  form {
    font-family:Times, serif;
    font-size: 24px;
    margin-bottom: 40px;
  }
  #submit {
background-color:var(--gray);
color: white;
padding: 8px;
border: none;
  }

  


  